body{
  width:100%;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}


.header1 {
  overflow: hidden;
  background-color: white;
  padding: 20px 10px;
}

.header1 a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header1 a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* .header1 a:hover {
  background-color: #ddd;
  color: black;
} */

.header1 a.active {
  color: black;
  text-decoration: none;
}

.header1-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header1 a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header1-right {
    float: none;
  }
}
/*preloader*/

/*#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #1167b1;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #1c4966;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #c1272d;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}




/* Style header*/
.header{
    overflow: hidden;
    background-color: #ffffff !important;
    width:100%;
    top:0;
  
  }

  .navbar-brand{
    margin-left: 70px;
    margin-top: 10px;
    
   
  }
  .menu{
    margin-left:50px;
  }
 
  .header-right{
    margin-left: 322px;
    padding-bottom: 30px;
    margin-top:-60px;
    
  }
  
    ul#horizontal-list li {
      display: inline;
      text-decoration: none;
      padding-right: 15px;
    
    }
    ul#horizontal-list li a{
      text-decoration: none;
     color: rgb(87, 85, 85); 
    }
   
    ul#horizontal-list li a:hover{
  
      color: rgb(0, 0, 43);
    }



  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

  /* Mid Bar*/
  #midM-bar{
    background-color: #ffffff !important;
  }

  #midM-bar-btn{
      
     margin-left: 942px;
      height: 33px;
      background-color:/* #1167b1*/ #1c4966 !important;
      border:none;
      margin-top: -60px;
      
  }
  #midM-bar-btn:hover{
      background-color: #c1272d !important;
  }
  .navbar {
      background-color: #20639b;
      width:100%;
      margin-top: -10px;
      font-size: 16px; 
      
  }
  
  .navbar .navbar-collapse {
    text-align: left;
  }
  
 .navbar-nav .nav-item:active .nav-link{
    background-color: #1167b1;
 }
 .navbar-nav {
   margin-left: 100px;
 }

 .nav-link:hover{
    background-color:  #c1272d ;
    color: white;
   
 }
 *{
     box-sizing: border-box;
     -webkit-box-sizing: border-box;

 }
 
 .wrap{
     min-height: 450px;
     background-image: url('../gallery/college_students.jpg');
     background-position: center;
     background-repeat:no-repeat;
     background-size: cover;
     background-color:#f2f2f2;
   
 }
 
#wrap-card{
    width:430px;
    height: 80px !important;
    font-size: 20px;
    margin-left: 800px;
    background-color: #20639b;
    border:none;
    font-weight: 400;
    border-radius: 0px;
   
}
#badge-pic{
  float: left;
  margin-right:-32px;
  margin-top: -10px;
  
}

 .seprator {
    height: 4px;  
    width: 80px;
    background-color: #c1272d !important;
    margin: 7px 0 10px 0;
}
#heroCol{
   min-height:60%; 
  box-sizing: border-box;
   opacity: 0.98;
    z-index: 0;
   
}
#heroCol #hCol{
   /* min-height:60%;*/
    background-size:cover;
   /* background-image: url(../gallery/hI.jpg);*/
    background-color:  #20639b; 
    border: none;
    padding:12px;
    opacity: 0.98;
    z-index: 0;
    
}
#hCol{
    min-height:60%;
     background-size:cover;
     /*background-image: url(gallery/hI.jpg);*/
     width: 450px;
    
  }
 
 .content{
     border: 1px solid #fff;
     padding: 20px; 
     background-size:cover;
     color:#fff;
  }

  #content-btn{
    background-color:  #20639b; 
    width: 450px;
    border:none;  
    height: 50px;
  }
  #hI-btn{
    background-color: #1c4966; 
    color: #fff;
    padding-top: 10px;
  }
 
 #hero-reg-form .reg-form{
  /* min-height:60%;*/
   /*background-size:cover;
  /* background-image: url(../gallery/hI.jpg);*/
  /*border-top:4px solid #3792cb !important;*/
  border-top:4px solid #c1272d !important;
  background-color: #c0c2c9;
   border: none;
   padding:12px;
   opacity: 0.98;
   z-index: 0;
   width:430px;
   margin-left: 108px;
   margin-bottom: 50px;
   
}

.reg-form input{
  min-height: 10px;
    /*background-image: url(gallery/hI.jpg);*/
    
 }
  #wrap-submit{
      background-color:  #e00707 ;
      border: none;
      color: #fff;
      font-weight: bold;
  }
  
  #delivery{
      padding-right:20px !important;
      margin-left:7px;
      color:#616161;
    
  }
  .form-group input{
  height:36px;
  margin: -5px;
  }
  #form-select{
    margin-left: -3px !important;
    padding-left: 5px;
   
  }
  .form-check-label{
    color:#616161 !important;
    padding-bottom: 3px;
  }
  #inputLocation{
    padding-right:-10px;
  }
#wrap-submit{
margin-bottom: 10px;
}
/*---------------------------------------------Alert Section-------------------------------------------*/
 #alert{
  /*background-color: /*#296d98*#20409a;*/
  background-color:  #1c4966;
  color:#fff;
  font-size: 20px;
  height: 50px;
}



/*-----------------------------------------Intro Section: Highbury------------------------------*/
#intro-section{
  background-color: #fff;
  font-family: sans-serif;
  
}

 .academic-img{
  margin-top: 50px;
}
span{
  font-weight: 900;
}
#bury{
  color: #20639b;
}
h1{
  color:#173f5f;
  padding-top: 20px;
  padding-bottom: 18px;
  font-weight: 500 !important;
  font-family: sans-serif;
}




/*--------------------------------------------Qualification Section------------------------------*/
#qualification-section{
  background-color: #c0c2c9;
  width:100%;
  padding-top:50px;

}
h5{
  color:#000000;
  font-weight: bolder;

}
#qual1-img{
    width: 350px; 
    height: 220px;
    object-fit: cover;
    background-color: #ffffff;
    

}


 .qual1{
  background-color:#ffffff !important;
  height: 100%;

}
.qual1-text{
  padding: 15px;
}

#qual2-img{
  width: 350px; 
  height: 220px;
  object-fit: cover;
  background-color: #ffffff;

}


.qual2{
background-color:#ffffff !important;
height: 100%;

}
.qual2-text{
padding: 15px;
}

#qual3-img{
  width: 350px; 
  height: 220px;
  object-fit: cover;
  background-color: #ffffff;

}


.qual3{
background-color:#ffffff !important;
height: 100%;

}
.qual3-text{
padding: 15px;
}

.qual2{
  background-color:#ffffff !important;
  height: 100%; 
}

.qual3{
  background-color:#ffffff !important;
  height: 100%; 
}
#qual-btn{
  border: 1px solid #e00707;
  margin-top: 15px;
  width: 200px;
  margin-left: 55px;
}
#qual-btn:hover{
  background-color: #1c4966;
  color: #fff;
  border: none;
}
/*.....................................Learning Methods---------------------------------------------*/
#methods{
  background-color: #c1272d;
}
.col-md{
  border-right: 1px solid white;
  text-align: center;
  padding:20px;
  color: #fff;
 
}
#clock-images{
  background-color: #fff;
  border-radius: 50px;
}
#methods-btn{
  background-color: #20639b;
  border: none;
  color:#fff;
}
#methods-btn:hover{
  background-color: #c1272d;
  border: 2px solid #ffffff; 
}
/*-----------------Events Section---------------------*/

 #events-section{
   background-color: #fff;
   border:none;
   
   
 }
 #up-events{
  background-color: #6699cc;
  width:800px;
  margin-top:90px;
}
 .card-title{
   color:#fff;
 }
 #events-date{
  background-color: #ffffff;
  color:black;
  font-weight: bold;
  text-align: center;
  padding-top:80px;
}
#events-details{
  padding-right:5px;
  padding-top: 5px;
  border-right: 1px solid red;
}

#events-day{
 color: #ff0000;
 font-weight: bold;
 font-size: 30px;

}
#events-btn{
  padding-top:120px; 
  padding-left: 15px;
}


/*-------------------------------------------------------- Testimonials/Carousel ----------------------------------------------------------*/
.testimonials-section{
  background-color: #20639b;
  padding-top: 40px;
  margin-top: 30px;
}
.testimonials-title{
  text-align: center;
  color:#fff;
}
#testimonials-seprato{
  margin-left:520px;  
}
#testimonials{
  padding-top: 15px;
}
.col-center {
  margin: 0 auto;
  float: none !important;
}
.carousel {
  margin: 50px auto;
  padding: 0 170px;
}
.carousel .item {
  color: #999;
  font-size: 14px;
    text-align: center;
  overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
  width: 170px;
  height: 170px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}
.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
.carousel .testimonial {
  padding: 30px 0 10px;
  color: #555;
}

.carousel-inner {
    text-align: center;
}

.carousel-title{
  margin: 25px;
  color: #333;
}

.carousel-line{
  height: 1px;
  width: 600px;
  background-color: #cecece;
  margin: auto;
}

.carousel .overview { 
    font-size: 12px;
    margin-bottom: 5px;
}

.carousel .overview b {
  color: blue;
}

.company-name{
    color: #555;
}

.carousel .carousel-control {
  width: 0px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
  background: none;
}
.carousel-control i {
    font-size: 25px;
    line-height: 42px;
    position: absolute;
    display: inline-block;
    color: #000;
}
.carousel .carousel-indicators {
  bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
  width: 10px;
  height: 10px;
  margin: 1px 3px;
  border-radius: 50%;
}
.carousel-indicators li { 
  background: #999;
  border-color: transparent;
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {  
  background: #555;   
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

.testimonial span{
    font-size: 62px;
    position: absolute;
    top: 57%;
    left: 0;
    font-family: 'Emblema One', cursive;
    color: #333;
}

.carousel-control-prev span{
    position: absolute;
    font-size: 14px;
    top: 29%;
    left: 20px;
    color: #89c4f4;
    text-shadow: none;
    font-weight: bolder;
}

.carousel-control-next span{
    position: absolute;
    font-size: 14px;
    top: 29%;
    right: 20px;
    color: #89c4f4;
    text-shadow: none;
    font-weight: bolder;
}

/*-------------------------------------------------------- /.Carousel ----------------------------------------------------------*/

/*----------------------------------------------------Contact Section--------------------------------------*/
#contact-section{
  padding-top: 40px;
}
#contact-h{
  padding-top: 40px;
}
.contactHeading{
  padding-top: 20px;
  padding-bottom: 15px;
  
}
.contact-p{
  padding-left: 25px;

}
.my-contact-form{
  min-height:90%;
  padding-top: 50px;
  margin-bottom:50px;
  margin-left: 10px;
}

#the-contact-form{
  background-color:#8cc6e5
}
#contact_container{
  background-color:#fff;

}
#form-container-row{
  background-color:#fff;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  
}

.my-contact-form input{
  height: 40px;
    
  
 }
 #contact-inputQualification{
   padding-right:5px;
 }
#contact-delivery-method{
  margin-right: 10px;
}

/*Contact-us Page Section*/
/*------Google Maps--------*/
.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }

  

#heroCol #hCol-contact-us{
  /* min-height:60%;*/
   background-size:cover;
  /* background-image: url(../gallery/hI.jpg);*/
   background-color:  #20409a; 
   border: none;
   padding:12px;
   z-index: 0;
   
}
#hCol-contact-us{

    min-height:60%;
     background-size:cover;
    background-image: url(../gallery/hero_Overlay.png);
     width: 450px;
}


.header-c {
  overflow: hidden;
  background-color: #ffffff !important;
  width:100%;
  top:0;

}

.menu-c{
  margin-left:50px;
}
#main-Nav-c{
  background-color:#20409a !important;
}

#wrap-card-c{
  background-color:#20409a !important; 
  width:430px;
    height: 80px !important;
    font-size: 20px;
    margin-left: 800px;
    border:none;
    font-weight: 400;
    border-radius: 0px;
}
#wrap-submit-c{
  background-color:  #c1272d;
  border: none;
  color: #fff;
  font-weight: bold; 
}
#content-btn-c{
  background-color:#20409a !important; 
  width: 450px;
  border:none;  
  height: 50px; 
}
#midM-bar-btnC{
  background-color:  #c1272d;
  margin-left: 942px;
      height: 33px;
      border:none;
      margin-top: -60px;
}
#midM-bar-btnC:hover{
  background-color:#20409a !important;  
  color: #ffffff;
}
#hero-reg-form .reg-form{
  /* min-height:60%;*/
   /*background-size:cover;
  /* background-image: url(../gallery/hI.jpg);*/
  /*border-top:4px solid #3792cb !important;*/
  border-top:5px solid #c1272d !important;
  background-color: #c0c2c9;
   border: none;
   padding:12px;
   opacity: 0.98;
   z-index: 0;
   width:430px;
   margin-left: 108px;
   margin-bottom: 50px;
   
}
#nav-link-c:hover{
  background-color:#c1272d;
  color: white;
}
#alert-c{
  background-color:#c1272d;
  border: none;
  color: #ffffff;
  font-size: 24px;
}

ul#horizontal-list-c li {
  display: inline;
  text-decoration: none;
  padding-right: 15px;

}
ul#horizontal-list-c li a{
  text-decoration: none;
  color: rgb(87, 85, 85);
  

  
}
ul#horizontal-list-c li a:hover{
  color: rgb(0, 0, 43);
}
.wrap-c{
  min-height: 450px;
  background-image: url('../gallery/header.jpg');
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  background-color:#f2f2f2;

}


/*===================================================Accreditation Page========================================*/
.accred-h{
  color: #e00707;
}
.accredit-wrap{
  min-height: 450px;
  background-image: url('../gallery/testiM.jpg');
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  background-color: #fff !important;

}
#wrap-card-accr{
  background-color: #1c4966 !important; 
  width:430px;
    height: 80px !important;
    font-size: 20px;
    margin-left: 800px;
    border:none;
    font-weight: 400;
    border-radius: 0px;
   
}

.header-accr{
  overflow: hidden;
  background-color: #f9f9f9 !important;
  width:100%;
  top:0;

}
#main-Nav-accr{
  background-color: #1c4966 !important;
}
#nav-link-accr:hover{
  background-color: #20639b;
}

#midM-bar-accr{
  background-color: #f9f9f9 !important; 

}
#midM-accrbar-btn{
  background-color: #20639b!important; 
  margin-left: 942px;
  height: 33px;
  border:none;
  margin-top: -60px;
  
}
#midM-accrbar-btn:hover{
  background-color: #1c4966 !important; 
}
#accr-reg-form .reg-form-accr{
  min-height:60%;
  background-size:cover;
  /* background-image: url(../gallery/hI.jpg);*/
  border-top:4px solid #3792cb !important;
  background-color: #cecece !important; 
   border: none;
   padding:12px;
   opacity: 0.90;
   z-index: 0;
   width:430px;
   margin-left: 108px;
   margin-bottom: 50px;
}

 
 #content-btn-accr{
  background-color: #1c4966 !important; 
  color: #ffffff;
  width: 450px;
  border:none;  
  height: 50px;
}
#heroCol-accr #hCol-accr{
  *min-height:60%;
  background-size:cover;
  /*background-image: url(../gallery/hI.jpg);*/
  background-color: #1c4966 !important; 
   border: none;
   padding:12px;
   opacity: 0.98;
   z-index: 0;
   
}
#hCol-accr{
   min-height:60%;
    background-size:cover;
    /*background-image: url(gallery/hI.jpg);*/
   width: 450px;
   background-color: #1c4966!important; 
 
   color: #ffffff;
 }
#content-accr{
    border: 1px solid #fff;
    padding: 20px; 
    background-size:cover;
    color:#fff;
 }
 #alert-accr{
   background-color: #20639b;
   color: #ffffff;
   font-size: 20px;
 }










/*--------------------------------------------------------FOOTER SECTION------------------------------------------------------------------*/
/* Main Footer */
section{
  padding-bottom: 0;
}
#footer{
  min-width:100% !important;
  background-color:#20639b;

}

footer .main-footer{	padding: 20px 0;	background: #173f5f; min-width:100%;}
footer ul{	padding-left: 0;	list-style: none;}

/* Copy Right Footer */
.footer-copyright {	background: #173f5f; 	padding: 5px 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {	list-style: none;	margin: 0;	padding: 0;}
.footer-copyright nav ul li {	border-left: 1px solid #505050;	display: inline-block;	line-height: 12px;	margin: 0;	padding: 0 8px;}
.footer-copyright nav ul li a{	color: #969696;}
.footer-copyright nav ul li:first-child {	border: medium none;	padding-left: 0;}
.footer-copyright p {	color: #969696;	margin: 2px 0 0;}

/* Footer Top */
.footer-top{	background: #173f5f;	padding-bottom: 30px;	margin-bottom: 30px;	border-bottom: 3px solid #222;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{	background: transparent;}
footer.transparent .footer-copyright{	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */
footer.light .footer-top{	background: #f9f9f9;}
footer.light .main-footer{	background: #f9f9f9;}
footer.light .footer-copyright{	background: none repeat scroll 0 0 rgba(128, 44, 44, 0.3) ;}

/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*==================== 
	Widgets 
====================== */
.widget{	padding: 20px;	margin-bottom: 40px;}
.widget.widget-last{	margin-bottom: 0px;}
.widget.no-box{	padding: 0;	background-color: transparent;	margin-bottom: 40px;
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{	margin-bottom: 18px;}
.widget li a{	color: #67c8ff;}
.widget li a:hover{	color: #4b92dc;}
.widget-title {margin-bottom: 20px;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
.widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{	float: right;	background: #7f7f7f;}

.typo-light h1, 
.typo-light h2, 
.typo-light h3, 
.typo-light h4, 
.typo-light h5, 
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{	color: #fff;}

ul.social-footer2 {	margin: 0;padding: 0;	width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover {background-color:#67c8ff;}
ul.social-footer2 li a {display: block;	height:30px;width: 30px;text-align: center;}
.btn{background-color: #67c8ff; color:#fff;}
.btn:hover, .btn:focus, .btn.active {background: #4b92dc;color: #fff;
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;

}
/*-------------------------------------------/.Footer--------------------------------------------------*/
/*+++++++++++++++++++++++++++++++++++++++++++++Contact us Page Footer+++++++++++++++++++++++++++++++++++*/
section{
  padding-bottom: 0;
}
.footer{
  min-width:100% !important;
  background-color:#20409a;

}

footer .main-footer{	padding: 20px 0;	background: #173f5f; min-width:100%;}
footer ul{	padding-left: 0;	list-style: none;}

/* Copy Right Footer */
.footer-copyright {	background: #173f5f; 	padding: 5px 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {	list-style: none;	margin: 0;	padding: 0;}
.footer-copyright nav ul li {	border-left: 1px solid #505050;	display: inline-block;	line-height: 12px;	margin: 0;	padding: 0 8px;}
.footer-copyright nav ul li a{	color: #969696;}
.footer-copyright nav ul li:first-child {	border: medium none;	padding-left: 0;}
.footer-copyright p {	color: #969696;	margin: 2px 0 0;}

/* Footer Top */
.footer-top{	background: #173f5f;	padding-bottom: 30px;	margin-bottom: 30px;	border-bottom: 3px solid #222;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{	background: transparent;}
footer.transparent .footer-copyright{	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */
footer.light .footer-top{	background: #f9f9f9;}
footer.light .main-footer{	background: #f9f9f9;}
footer.light .footer-copyright{	background: none repeat scroll 0 0 rgba(128, 44, 44, 0.3) ;}

/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*==================== 
	Widgets 
====================== */
.widget{	padding: 20px;	margin-bottom: 40px;}
.widget.widget-last{	margin-bottom: 0px;}
.widget.no-box{	padding: 0;	background-color: transparent;	margin-bottom: 40px;
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{	margin-bottom: 18px;}
.widget li a{	color: #67c8ff;}
.widget li a:hover{	color: #4b92dc;}
.widget-title {margin-bottom: 20px;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
.widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{	float: right;	background: #7f7f7f;}

.typo-light h1, 
.typo-light h2, 
.typo-light h3, 
.typo-light h4, 
.typo-light h5, 
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{	color: #fff;}

ul.social-footer2 {	margin: 0;padding: 0;	width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover {background-color:#67c8ff;}
ul.social-footer2 li a {display: block;	height:30px;width: 30px;text-align: center;}
.btn{background-color: #67c8ff; color:#fff;}
.btn:hover, .btn:focus, .btn.active {background: #4b92dc;color: #fff;
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;

}